body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#app.noBg {
  background: none !important;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.debug {
  background-color: #ff00ffa1 !important;
}

#identifier {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  font-family: 'Consolas', sans-serif;
  text-shadow: 3px 3px 8px white;
  visibility: hidden;
  z-index: 10000000000000000000;
}

#identifier .id {
  font-size: 0.5em;
}

#identifier.active {
  visibility: visible;
}
