<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Soothsayer - Lower Third</title>
    <script src="/js/vue@2.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/moment-timezone.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/overlay.js"></script>
    <link rel="stylesheet" type="text/css" href="css/overlay.css" />
  </head>
  <body id="lower-third">
    <div id="app">
      <!-- Identify overlay-->
      <div id="identifier" v-bind:class="{ active: identify }">
        This is a {{ overlayName }} overlay<br />
        <span class="id">id: {{ socketId }}</span>
      </div>

      <!-- Put Theme Specific Things After This Comment -->
      <!-- NOTE: Theme implementers are responsible for handling visibility correctly -->
      <div
        class="outer-container"
        v-bind:class="{ visible: lowerThirdVisible }"
      >
        <!-- outer elements (might be static for each lt) -->
        <div class="text-only ticker">
          <div
            class="content"
            :style="{ animationDuration: textTickerDuration }"
          >
            <div
              v-for="(item, index) in textTicker"
              :key="index"
              class="item"
              :class="{ first: index === 0 }"
            >
              {{ item }}
            </div>
          </div>
        </div>
        <div class="sponsor-logos">
          <div
            class="sponsor-logo slot-1"
            :class="{ visible: sponsorLogos.slot1Active }"
            :style="{ backgroundImage: sponsorLogos.slot1 }"
          ></div>
          <div
            class="sponsor-logo slot-2"
            :class="{ visible: !sponsorLogos.slot1Active }"
            :style="{ backgroundImage: sponsorLogos.slot2 }"
          ></div>
        </div>
        <div class="outer aux-1"></div>
        <div class="outer aux-2"></div>

        <div
          class="inner-container"
          v-bind:class="{ visible: !lowerThirdChangingData }"
        >
          <div class="caster-info" v-show="ltCasterInfoMode">
            <div class="socials">
              <div v-show="casterOneTwitter !== ''" class="social twitter">
                {{ casterOneTwitter }}
              </div>
              <div v-show="casterOneTwitch !== ''" class="social twitch">
                {{ casterOneTwitch }}
              </div>
              <div v-show="casterOneYoutube !== ''" class="social youtube">
                {{ casterOneYoutube }}
              </div>
              <div v-show="casterOneInstagram !== ''" class="social insta">
                {{ casterOneInstagram }}
              </div>
            </div>
            <div class="aux-1"></div>
          </div>
          <div class="erbs-player-stats" v-show="ltErbsPlayerStatsMode">
            <div class="player-name" v-bind:class="[ltErbsPlayerNameSize]">
              {{ ltErbsPlayerStats.playerName }}
            </div>
            <div class="socials">
              <div
                class="social twitter"
                v-show="ltErbsPlayerStats.playerTwitter && ltErbsPlayerStats.playerTwitter !== ''"
              >
                {{ ltErbsPlayerStats.playerTwitter }}
              </div>
              <div
                class="social twitch"
                v-show="ltErbsPlayerStats.playerTwitch && ltErbsPlayerStats.playerTwitch !== ''"
              >
                {{ ltErbsPlayerStats.playerTwitch }}
              </div>
            </div>
            <div class="stat avg-kill">
              <div class="name">Kills</div>
              <div class="value">{{ ltErbsPlayerStats.avgKills }}</div>
            </div>
            <div class="stat win">
              <div class="name">Win Rate</div>
              <div class="value">{{ ltErbsPlayerStats.winRate }}</div>
            </div>
            <div class="stat top3">
              <div class="name">Top 3</div>
              <div class="value">{{ ltErbsPlayerStats.top3 }}</div>
            </div>
            <div class="stat avg-hunt">
              <div class="name">Hunts</div>
              <div class="value">{{ ltErbsPlayerStats.avgHunts }}</div>
            </div>
            <div class="characters">
              <div
                v-for="bg in ltErbsPlayerStatsCharacters"
                :key="bg"
                :style="{backgroundImage: bg}"
                class="portrait"
              ></div>
            </div>
            <div class="aux-1"></div>
            <div class="aux-2"></div>
          </div>
        </div>
      </div>
      <div class="ref"></div>
      <!-- Stop putting theme things after this comment -->

      <!-- Theme style link -->
      <link
        rel="stylesheet"
        type="text/css"
        v-bind:href="theme + '/css/theme.css'"
      />
    </div>

    <!-- theme specific js file -->
    <script src="/js/lower-third.js"></script>
  </body>
</html>
